/.env
/.env.backup
/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.phpunit.cache
/.idea/
/.vscode/
